.jumbotron {
    color: white;
    opacity: 0.8;
    margin-top: 15px;
  }
  body {
    background-image: url(1.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .card {
    background: rgba(0, 0, 0, 0.2);
  }
  #submit,
  .form-control {
    opacity: 1;
  }
  label,
  .card-header {
    font-weight: bold;
    color: white;
  }
  .card-header {
    background-color: #5A6065;
    color: white;
    background: rgba(57, 74, 75, 0.575);
  }
  .container {
    margin-bottom: 30px;
  }
  .form-control {
    opacity: 0.8;
    background-color: white;
  }
  th {
    color: white;
  }